@CHARSET "UTF-8";

body {
	background-image: url("../img/gold_scale.png");
	color: black;
	font-size: 16px;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 500;
}

body a:link, body a:visited, body a:hover, body a:active {
	text-decoration: none;
	color: black;
}
body #list a:hover,
body #list a:active {
	text-decoration: underline;
}

#conteiner {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	margin-top: 10px;
	background-color: #111111;
	color: white;
	text-align: center;
	font-size: 36px;
	paddind: 20px;
	border-radius: 10px;
}

#menu {
	margin-top: 20px;
	padding: 10px;
	background-color: #666666;
	border-radius: 10px;
}

.menu-item {
	float: left;
	background-color: #666666;
	color: #999999;
	font-size: 18px;
	border-right: 1px solid black;
	padding: 5px;
	min-width: 120px;
	text-align: center;
}

.menu-item:hover {
	background-color: #333333;
}

.menu-item a {
	text-decoration: none;
	color: #999999;
	color: #FFFFFF;
}
.menu-item a:hover {
	text-decoration: none;
	color: #FFFFFF;
}



#register-item {
	float: right;
	border-left: 1px solid black;
	border-right: none;
	background-color: rgb(26, 148, 49);
}

#register-item:hover {
	background-color: rgb(0, 187, 51);
	
}
#hello-item,
#logout-item{
	float: right;
	border-left: 1px solid black;
	border-right: none;	
}


#topbar {
	margin-top: 10px;
	border-radius: 10px;
	background-color: rgba(160, 160, 160, 0.8);
	z-position: 100;
}

#topbar-image {
	width: 120px;
	padding: 10px;
	border-right: 1px dotted #666666;
}

#list-and-content {
	margin-top: 10px;
	background-color: rgba(160, 160, 160, 0.8);
	border-radius: 10px;
}

#list {
	float: left;
	width: 120px;
	padding: 10px;
	border-right: 1px dotted #666666;
	margin-right: -1px;
}

#list a {
	color: blue;
}

#content {
	width: 1001px;
	padding: 20px;
	float: left;
	text-align: center;
	text-justify: inter-word;
	border-left: 1px dotted #666666;
}

.form {
	text-align: center;
	display: inline-block;
	padding: 10px;
	vertical-align: text-top;
}

.form input, .form textarea, .button{
	margin-top: 20px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	width: 400px;
	background-color: #ffffff;
	border: 2px inset #cccccc;
	font-family: 'Cormorant Garamond', serif;
}

.form input[type=submit],
.button {
	background-color: rgb(26, 148, 49);
	border: 2px ridge rgba(230, 245, 226, 0.8);
}

.button {
	width: auto;
}

.form input[type=submit]:hover {
	background-color: rgb(0, 187, 51);
	border: 2px ridge rgb(0, 82, 33);
}
#register{
	margin-left:100px;
}

.input-conteiner {
	padding: 5px;
	display: inline-block;
	vertical-align: text-top;
}

#add-event input{
	width: 800px;
	max-width: 800px;
}
#add-event textarea {
		width: 1000px;
	max-width: 1000px;
}

.event-item{
	background-color: rgba(150, 150, 150, 0.8);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: justify;
	transition: transform 0.3s;
}

.event-item:hover {
	background-color: rgb(120, 120, 120);
	transform: scale(1.03);
	
}
.article{
	text-align: left;
}
.article a{
	color: gray;
	font-weight: 700;
}
.article #contact{
	float: left;
	margin-left: 3em;
	pading: 10px;
}
.article img{
	float: right;
	margin-right: 10em;
}

#footer {
	margin-top: 10px;
	background-color: #111111;
	color: white;
	text-align: center;
	font-size: 12px;
	paddind: 5px;
	border-radius: 5px;
}